body {
  height: 100%;
  background: linear-gradient(0deg, rgb(243, 218, 190) 0%, linen 100%);
  background-size:;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
  width: calc(100vw - 10vh);
  
  margin: auto;
  
  }
  table, th, td {
  border: 1px hidden black;
  padding: 10px;
  }
#grid{ 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  grid-gap: 4vh;
}
#grid > a {
  border-radius: 1vh;
  padding-top: 100%;
  position: relative;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

img {
	width: 40%;
    height: 40%;
	object-fit: contain;
	margin: auto;
	display: block;
}

video {
    max-width: 50%;
    max-height: 40%;
	margin: auto;
	display: block;
}

p {
	margin-left: 20px;
	margin-right: 20px;
}

.img{
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container > div {
	margin: 15px;
	text-align: center;
	line-height: 15px;
}

.text {
  position: absolute;
  top: 1;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-style: normal;
  background-color: maroon;
  color: ivory;
}

.button1 {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 1px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: ivory; 
  color: black; 
  border: 2px solid maroon;
}

.button1:hover {
  background-color: maroon;
  color: white;
}

.button2 {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 1px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: ivory; 
  color: rgb(43, 190, 117); 
  border: 2px solid rgb(43, 190, 117);
}

.button2:hover {
  background-color: rgb(43, 190, 117);
  color: white;
}

.button3 {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 1px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: ivory; 
  color: rgb(40, 160, 193); 
  border: 2px solid rgb(40, 160, 193);
}

.button3:hover {
  background-color: rgb(40, 160, 193);
  color: white;
}

.button4 {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 1px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: ivory; 
  color: rgb(246, 135, 35); 
  border: 2px solid rgb(246, 135, 35);
}

.button4:hover {
  background-color: rgb(246, 135, 35);
  color: white;
}